/* ------------------ ############ RESETS ############ ------------------ */

html, body, div, span, section, ul, li, h1, h2, h3, h4, h5 {
	box-sizing: border-box;
	color: #222;
	font-family: "Kozuka Gothic Pro";
	font-family: 'Abril Fatface', cursive;
	font-weight: lighter;
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.svg-defs {
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
  	z-index: -1;
}


/* ------------------ ############ GENERAL ############ ------------------ */
#perfect-app-wrapper {
    background-color: #aaccff;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
    width: 100vw;
}


/* ------------------ ############ ROOM SCENE ############ ------------------ */

.room__image {
    /*display: inline-block;*/
    /*min-height: 100%;
    min-width: 100%;*/
    /*object-fit: cover;
    object-position: 50% 50%;*/
}

.room__svg,
.svg-defs-wrapper
#room-mask {
    display: block;
    background-color: red;
    height: 100%;
    width: 100%;
    /*object-fit: cover;
    object-position: 50% 50%;*/
}

.svg-defs-wrapper {
    /*background-color: yellow;
    position: relative;
    height: 400px;
    width: 400px;
    z-index: 99999;*/
}

.room__wrapper {
    background-color: #bada55;
    /*display: none;*/
    height: 100%;
    position: absolute;
	left: 0;
	top: 0;
    width: calc( 50% - 2px );
    z-index: 1;
}

.room-b {
    background-color: magenta;
    left: calc( 50% + 2px );
}

.svg-defs-wrapper {
    display: block;
    opacity: 1;
    /*z-index: -1;*/
}
.room__svg-wrapper {
    overflow: hidden;
    z-index: 2;
}



/* ------------------ ############ ROOM SCENE - ZOOMED ############ ------------------ */

.room__title {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 5;
}


/* ------------------ ############ VIEWPORT SIZE ADJUSTMENTS ############ ------------------ */

@media screen and (min-width: 768px) {
}

@media screen and (min-aspect-ratio: 20 / 19) {

    /*flex-direction: row;
    flex-direction: column;*/
}
@media screen and (min-width: 1024px) and (min-aspect-ratio: 1 / 1) {
}

/* ------------------ ############ VIEWPORT ORIENTATION ADJUSTMENTS ############ ------------------ */


@media screen and (min-aspect-ratio: 4/3) { /* long landscape */
    /*.room__svg-wrapper,
	.room__image {
        height: 110vh;
		width: 157.94vh;
    }*/
}

@media screen and (min-aspect-ratio: 3/2) { /* longer landscape */
    /*.room__svg-wrapper,
	.room__image {
        height: 125vh;
		width: 179.4775vh;
    }*/
}

@media screen and (min-aspect-ratio: 2/1) { /* longest landscape */
    /*.room__svg-wrapper,
	.room__image {
        height: 140vh;
        width: 201.015vh;
    }*/
}




/* ------------------ ############ ANIMATIONS ############ ------------------ */

@keyframes pan-scene {
  0 {
      transform: translate3d(0px, 0px, 0px);
  }
  50% {
      transform: translate3d(-10vw, -100vh, 0px);
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
  }
}


/* ------------------ ############ jjjjjjjj ############ ------------------ */



/* ------------------ ############ jjjjjjjj ############ ------------------ */


















/* --------- pppppppp ----------- */
/* --------- pppppppp ----------- */





/*
------------------ ############ ANIMATION EXAMPLE ############ ------------------









------------------ ############ OLD STUFF ############ ------------------

.scene-grid__scene:nth-child(n+5) {
  display: none; }

@media screen and (orientation: portrait) {
    .room__wrapper svg {
        border: 2px solid #ccccff;
        height: 140vh;
        width: calc( 140vh * 1.43582);
    }

    @media screen and (max-aspect-ratio: 3/4) {
        .room__wrapper svg {
            border: 2px solid #9999cc;
            height: 125vh;
            width: calc( 125vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 2/3) {
        .room__wrapper svg {
            border: 2px solid #666699;
            height: 110vh;
            width: calc( 110vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 1/2) {
        .room__wrapper svg {
            border: 2px solid #333366;
        }
    }
}

*/