/* ------------------ ############ RESETS ############ ------------------ */
html, body, div, span, section, ul, li, h1, h2, h3, h4, h5 {
	box-sizing: border-box;
	color: #222;
    font-family: 'Raleway', sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(raleway-thin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ------------------ ############ GENERAL ############ ------------------ */
#perfect-app-wrapper {
    background-color: #fff;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: relative;
	top: 0;
    width: 100vw;
}

/* ------------------ ############ ROOM SCENE ############ ------------------ */
.room__svg,
.svg-defs-wrapper,
.room__wrapper,
.color__details {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.room__wrapper {
    background-color: #fff;
    height: calc( 50% - 2px );
    z-index: 1;
}

.room-b {
    background-color: magenta;
    top: calc( 50% + 2px );
}

.room__image--furniture {
    opacity: 1;
    transition: opacity 1s;
}


/* ------------------ ############ COLOR DETAILS ############ ------------------ */
.color__details {
    align-items: center;
    /*background: #abcdef;*/
    display: flex;
    height: 100%;
    justify-content: center;
    z-index: 2;
}

.color__details--solid-overlay {
    background-color: #abcdef;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    transition-delay: 1s;
    width: 100%;
}

.color__details--solid-overlay-2 {
    background-color: #887766;
}

.color__details--title {
    font-size: 5vw;
    opacity: 0;
    position: relative;
    transition: opacity 0.5s;
    transition-delay: 1.5s;
    z-index: 2;
}

.color__details--title {
    color: #888;
    text-shadow: 0 1px 0 #666,
       0 2px 0 #646464,
       0 3px 0 #555,
       0 4px 0 #515151,
       0 5px 0 #444,
       0 6px 1px rgba(0,0,0,.5),
       0 0 5px rgba(0,0,0,.5),
       0 1px 3px rgba(0,0,0,.7),
       0 3px 5px rgba(0,0,0,.6),
       0 5px 10px rgba(0,0,0,.65),
       0 10px 10px rgba(0,0,0,.6),
       0 20px 20px rgba(0,0,0,.55);
       /*0 6px 1px rgba(0,0,0,.1),
       0 0 5px rgba(0,0,0,.1),
       0 1px 3px rgba(0,0,0,.3),
       0 3px 5px rgba(0,0,0,.2),
       0 5px 10px rgba(0,0,0,.25),
       0 10px 10px rgba(0,0,0,.2),
       0 20px 20px rgba(0,0,0,.15);*/
}

.color__details--title--light {
    color: #fff;
    text-shadow: 0 1px 0 #ccc,
       0 2px 0 #c9c9c9,
       0 3px 0 #bbb,
       0 4px 0 #b9b9b9,
       0 5px 0 #aaa,
       0 6px 1px rgba(0,0,0,.1),
       0 0 5px rgba(0,0,0,.1),
       0 1px 3px rgba(0,0,0,.3),
       0 3px 5px rgba(0,0,0,.2),
       0 5px 10px rgba(0,0,0,.25),
       0 10px 10px rgba(0,0,0,.2),
       0 20px 20px rgba(0,0,0,.15);
}

/* ------------------ ############ STATE TRANSITIONS ############ ------------------ */
.inDetailView .room__image--furniture {
    opacity: 0;
}

.inDetailView .color__details--solid-overlay {
    opacity: 1;
}

.inDetailView .color__details--title {
    opacity: 1;
}

.transitionView .color__details--solid-overlay {
    transition: opacity 0.5s;
    transition-delay: 0.5s;
}

.transitionView .color__details--title {
    transition-delay: 0s;
}

.transitionView .room__image--furniture {
    transition: opacity 1s;
    transition-delay: 1s;
}


/* ------------------ ############  ############ ------------------ */


/* ------------------ ############ VIEWPORT ORIENTATION ADJUSTMENTS ############ ------------------ */
@media screen and (min-aspect-ratio: 20/19) { /* long landscape */
    .room__wrapper {
        height: 100%;
        width: calc( 50% - 2px );
    }

    .room-b {
        left: calc( 50% + 2px );
        top: 0;
    }
}

/* ------------------ ############ ANIMATIONS ############ ------------------ */

@keyframes pan-scene {
  0 {
      transform: translate3d(0px, 0px, 0px);
  }
  50% {
      transform: translate3d(-10vw, -100vh, 0px);
  }
  100% {
      transform: translate3d(0px, 0px, 0px);
  }
}


/* ------------------ ############ jjjjjjjj ############ ------------------ */
/* ------------------ ############ jjjjjjjj ############ ------------------ */
/* --------- pppppppp ----------- */
/* --------- pppppppp ----------- */



/*
------------------ ############ ANIMATION EXAMPLE ############ ------------------









------------------ ############ OLD STUFF ############ ------------------

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) and (min-aspect-ratio: 1 / 1) {
}

.scene-grid__scene:nth-child(n+5) {
  display: none; }

@media screen and (orientation: portrait) {
    .room__wrapper svg {
        border: 2px solid #ccccff;
        height: 140vh;
        width: calc( 140vh * 1.43582);
    }

    @media screen and (max-aspect-ratio: 3/4) {
        .room__wrapper svg {
            border: 2px solid #9999cc;
            height: 125vh;
            width: calc( 125vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 2/3) {
        .room__wrapper svg {
            border: 2px solid #666699;
            height: 110vh;
            width: calc( 110vh * 1.43582);
        }
    }

    @media screen and (max-aspect-ratio: 1/2) {
        .room__wrapper svg {
            border: 2px solid #333366;
        }
    }
}

*/